// COLORS
$primary: #e9e5dd;
$secondary: #25262b;
$gray-accent: #dadada;
$text-dark: #444;
$text-black: #000;
$border-light: #dadada;
$border-dark: #bbb3a5;

// BREAKPOINTS
$breakpointXs: 375;
$breakpointS: 425;
$breakpointM: 768;
$breakpointL: 1024;
$breakpointXl: 1440;
$breakpointXxl: 2560;
