---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title='JobsTrackr | Streamline your job search'>
  <main class='m-auto px-4 lg:w-7xl'>
    <Hero />
  </main>
</Layout>
