---
import Layout from '../layouts/Layout.astro';
---

<Layout title='JobsTrackr | Easily track your active job applications.'>
  <main>
    <h1>Welcome to JobsTrackr</h1>
  </main>
</Layout>

<style></style>
