---
import Layout from '../layouts/Layout.astro'
---

<Layout title="JobsTrackr | Streamline your job search">
	<main class="mx-auto max-w-5xl px-4 py-10">
		<div class="[&>p]:mb-4">
			<h1>Privacy policy</h1>
			<p>
				Welcome to JobsTrackr's privacy policy. Here we explain how we protect your data and respect your privacy, i.e. what
				personal data is collected via JobsTrackr and how and for what purpose we use the data.
			</p>
			<h2>1. Preamble</h2>
			<p>
				We offer you a variety of products via our online services platform "JobsTrackr" and we understand that your privacy
				is very important to you. This Privacy Policy explains how we collect, use and protect your personal data when you
				use our products via JobsTrackr. We are committed to keeping your personal data safe and transparent. We are based in
				the EU and are GDPR compliant (General Data Protection Regulation).
			</p>
			<p>Name of the online services platform: JobsTrackr</p>
			<p>Contact: richardvanbrunschot@gmail.com</p>
			<p>
				This Privacy Policy applies to all personal data collected by JobsTrackr via the website at jobstrackr.app and all
				corresponding subdomains.
			</p>
			<p>
				If you provide us with personal data in interaction with us via JobsTrackr you confirm that you have the right to
				authorize us to use and process the data on your behalf and in accordance with this Privacy Policy.
			</p>
			<h2>2. What personal information does JobsTrackr use?</h2>
			<p>JobsTrackr uses two types of information.</p>
			<p>
				First, all information that you enter yourself (in particular the information that you want to use in one of our
				products, but also payment information such as the amount and identification number of the respective payment, but
				not your payment data).
			</p>
			<p>
				Second, we use basic information and technical data, such as how often you have downloaded your resume, when you last
				logged into your account, or the Internet Protocol address ("IP") of your computer, your location (in particular
				city, country), browser type and version, the (product) pages of JobsTrackr you have visited, as well as the time,
				duration and date of your visit to JobsTrackr.
			</p>
			<p>
				Some of our products allow you to share your personal data with third parties over the Internet. If you share your
				personal data with third parties through one of our products, we accept no responsibility or liability if third
				parties demand, obtain or use, modify or redistribute your data in any way.
			</p>
			<h2>3. How does JobsTrackr use your personal data?</h2>
			<p>
				You can rest assured that your personal data will only be used for purposes directly related to JobsTrackr. Purposes
				for which we use your personal data include:
			</p>
			<ul>
				<li>To operate JobsTrackr and provide you with the core features/products of our platform.</li>
				<li>To interact with you, for example by answering your comments or requests.</li>
				<li>
					If you have subscribed to our newsletter, to send you relevant and informative content that interests or inspires
					you and can help you in your career.
				</li>
				<li>To personalize your JobsTrackr experience, e.g. by pre-filling a product template with your data.</li>
				<li>To provide you with information that may be of interest to your job search or career.</li>
				<li>
					To monitor activities on JobsTrackr, e.g. to detect potentially fraudulent activities and ensure compliance with
					the terms of use.
				</li>
				<li>To manage our legal and operational affairs.</li>
				<li>To perform technical analyses and improve JobsTrackr.</li>
				<li>To keep you up to date on news and information about JobsTrackr, e.g. changes, upgrades or security updates.</li>
				<li>For internal administrative activities.</li>
			</ul>
			<h2>4. Data storage</h2>
			<p>
				Your data will be stored for as long as is necessary for the purpose of the agreement or interaction between you and
				us, in particular to allow you, as the holder of a profile on JobsTrackr, to change or update your personal data if
				necessary. If your profile has been inactive for six years, we will send an email with a "re-activation link" to the
				email address associated with your profile. If you do not click or activate this link within four weeks, your profile
				and all associated data will be permanently deleted.
			</p>
			<h2>5. Your rights</h2>
			<p>
				We comply with the provisions of the GDPR and would like to inform you that you have the following rights at any
				time:
			</p>
			<p><b>The right of access</b><br /> You can request copies of your personal data from JobsTrackr.</p>
			<p>
				<b>The right to rectification</b><br /> You can ask us to correct inaccurate data or complete incomplete data.
			</p>
			<p><b>The right to erasure</b><br /> You can request that we delete your personal data.</p>
			<p>
				<b>The right to object</b><br /> You can object to the processing of your personal data by us.
			</p>
			<p>
				<b>The right to data portability</b><br /> You can request that we pass on the data collected by us to you in a transferable
				format.
			</p>
			<p>
				If you wish to exercise any of these rights, we will respond to your request as soon as possible and at least within
				one month. To exercise these rights, please send us an email: richardvanbrunschot@gmail.com.
			</p>
			<h2>5. Cookies</h2>
			<p>
				Our website uses HTTP cookies. A cookie is a small piece of text that is stored on your computer by a web browser
				when you visit a website.
			</p>
			<p>
				We strive to be the most privacy-friendly online career platform on the internet and therefore try to minimize the
				use of cookies as much as possible, especially when it comes to third party cookies.
			</p>
			<p>
				We therefore refrain from setting marketing cookies and limit ourselves to those that are necessary for the provision
				of our services. Here we give you an overview of the cookies used by our website.
			</p>
			<p>
				First-party cookies: These are cookies that are set directly by us. We use session cookies and persistent cookies on
				our website. These cookies are necessary for the operation of our website and our services. These include
				authentication cookies, the current app version and your language settings.
			</p>
			<p>
				Third-party cookies: These are cookies that are set by third-party services. In particular, we use two external
				services that set cookies: Stripe for payment processing and Unsplash to provide you with images for your products.
				These third-party cookies allow these services to collect information such as your IP address and the time of your
				visit.
			</p>
			<h2>6. Changes to the privacy policy and consent</h2>
			<p>
				We regularly review and update our privacy policy. We reserve the right to update our privacy policy from time to
				time. Any changes to this policy will be posted on our website and we will keep you informed of any updates. By using
				our products, you agree to our privacy policy.
			</p>
			<h2>7. How to contact us</h2>
			<p>
				If you have any questions about our privacy policy or would like to exercise your data protection rights, please feel
				free to contact us. We are available to you at any time if you have any questions about the data we store.
			</p>
			<p>Contact: richardvanbrunschot@gmail.com</p>
			<p class="small text-sm text-stone-700">Valid since 22th of November 2023</p>
		</div>
	</main>
</Layout>
