---
import FeatureCard from './FeatureCard.astro';
---

<section id='features' class='bg-black bg-gradient-to-br py-16 lg:py-36'>
  <div class='mx-auto px-4 lg:w-7xl'>
    <div class='md:text-center'>
      <h2 class='mb-4 text-3xl font-bold tracking-tight text-white'>
        Everything you need to manage your job search
      </h2>
      <p class='mt-2 text-lg text-white/70'>
        With intuitive features and a clean interface, you can easily track your
        active job applications, monitor your progress, and stay organized
        throughout your job hunt, ultimately increasing your chances of landing
        that dream job.
      </p>
    </div>
  </div>
  <div
    class='mx-auto mt-20 grid grid-cols-1 gap-10 px-4 md:grid-cols-2 lg:w-7xl lg:grid-cols-3'
  >
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
    <FeatureCard
      icon='test'
      title='Feature'
      description="This is a card describing one of JobsTrack's features."
    />
  </div>
</section>
