<section class='min-h-[50rem] bg-gradient-to-br from-black via-black to-green'>
  <div class='mx-auto px-4 py-16 lg:w-7xl lg:py-36'>
    <div class='max-w-2xl'>
      <h2 class='mb-4 text-3xl font-bold tracking-tight text-white'>
        Every feature you need to manage your job search
      </h2>
      <p class='mt-2 text-lg text-white/70'>
        With intuitive features and a clean interface, you can easily track your
        active job applications, monitor your progress, and stay organized
        throughout your job hunt, ultimately increasing your chances of landing
        that dream job.
      </p>
    </div>
  </div>
</section>
