---
export interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<div class='rounded-lg bg-secondary p-10 shadow-xl'>
  <h1 class='text-md mb-4 font-bold text-white'>
    {title}
  </h1>
  <p class='text-white/70'>
    {description}
  </p>
</div>
