<footer class='mx-auto border-t border-gray-200 py-6'>
  <div
    class='mx-auto flex flex-col items-center justify-between gap-4 px-4 md:flex-row md:gap-0 lg:max-w-7xl'
  >
    <div>
      <img
        src='/images/logo_cropped_transparent.svg'
        alt='Logo'
        class='w-[125px]'
      />
    </div>
    <nav>
      <ul class='flex gap-4 lg:gap-6'>
        <li>
          <a
            href='#features'
            class='rounded-md p-2 font-medium text-gray-700 transition hover:bg-gray-100 hover:text-black md:flex'
            >Features</a
          >
        </li>
        <li>
          <a
            href='#faq'
            class='rounded-md p-2 font-medium text-gray-700 transition hover:bg-gray-100 hover:text-black md:flex'
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <div>© Copyright 2023. All rights reserved.</div>
  </div>
</footer>
