<footer class="mx-auto border-t border-stone-200 py-5">
  <div
    class="mx-auto flex flex-col items-center justify-between gap-4 px-4 text-sm text-stone-700 md:flex-row md:gap-0 lg:max-w-7xl"
  >
    <p class="font m-0 text-stone-700">Copyright © 2025 JobsTrackr. All rights reserved.</p>
    <a href="/privacy-policy" class="font m-0 text-stone-700">Privacy Policy</a>
  </div>
</footer>
