<footer class="mx-auto border-t border-stone-200 py-4">
	<div
		class="mx-auto flex flex-col items-center justify-between gap-4 px-4 text-sm text-stone-700 md:flex-row md:gap-0 lg:max-w-7xl"
	>
		<!-- <nav>
			<ul class="flex list-none gap-4 p-0 lg:gap-6">
				<li>
					<a href="privacy-policy" class="rounded-md p-2 pl-0 text-stone-700 transition md:flex lg:hover:text-black"
						>Privacy policy</a
					>
				</li>
			</ul>
		</nav> -->
		<p class="font m-0 text-stone-700">Copyright © 2023 JobsTrackr. All rights reserved.</p>
	</div>
</footer>
