---
import LinkButton from './LinkButton.astro'
---

<header>
  <nav class="mx-auto flex justify-between px-4 py-6 lg:max-w-7xl">
    <a href="/#" class="flex items-center" aria-label="Homepage">
      <img src="/images/logo_cropped_transparent.svg" alt="Logo" class="w-[125px] lg:w-[165px]" />
    </a>
    <ul class="hidden list-none items-center gap-3 space-x-3 md:flex">
      <li>
        <a
          href="https://portal.jobstrackr.app/sign-in"
          class="font-medium text-stone-700 lg:hover:text-black"
          aria-label="Log in">Log in</a
        >
      </li>
      <li>
        <LinkButton href="https://portal.jobstrackr.app/sign-up" label="Get started" type="secondary" />
      </li>
    </ul>
  </nav>
</header>
