---
import LinkButton from './LinkButton.astro';
---

<header class='w-screen py-4'>
  <div class='m-auto flex items-center gap-4 px-4 py-4 lg:w-7xl lg:gap-16'>
    <a href='/'>
      <img
        class='w-[90px] lg:w-[165px]'
        src='/images/logo_cropped_transparent.svg'
        alt='JobsTrackr logo'
      />
    </a>
    <nav>
      <ul class='flex gap-4 lg:gap-6'>
        <li>
          <a
            href='#features'
            class='rounded-md p-2 font-medium text-gray-700 transition hover:bg-gray-100 hover:text-black'
            >Features</a
          >
        </li>
        <li>
          <a
            href='#faq'
            class='rounded-md p-2 font-medium text-gray-700 transition hover:bg-gray-100 hover:text-black'
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <LinkButton
      href='https://portal.jobstrackr.app'
      label='Log in'
      type='primary'
      customClasses='ml-auto'
    />
  </div>
</header>
