---
---

<header class='gray-accent w-screen py-4'>
  <div
    class='m-auto flex items-center gap-4 px-4 py-4 lg:w-7xl lg:gap-16 lg:px-0'
  >
    <a href='/'>
      <img
        class='w-[90px] lg:w-[125px]'
        src='/assets/images/logo_cropped_transparent.svg'
        alt='JobsTrackr logo'
      />
    </a>
    <nav>
      <ul class='flex gap-4 lg:gap-6'>
        <li>
          <a
            href='#features'
            class='rounded-md p-2 text-sm text-gray-700 transition-all ease-in-out hover:bg-gray-100 hover:text-gray-900'
            >Features</a
          >
        </li>
        <li>
          <a
            href='#faq'
            class='rounded-md p-2 text-sm text-gray-700 transition-all ease-in-out hover:bg-gray-100 hover:text-gray-900'
            >FAQ</a
          >
        </li>
      </ul>
    </nav>
    <a
      href='https://portal.jobstrackr.app'
      class='bg-primay ml-auto rounded-md bg-gray-100 px-3 py-2 font-medium hover:outline hover:outline-1 hover:outline-gray-accent'
      >Log in</a
    >
  </div>
</header>
