---
---

<header>
  <div class='container'>
    <a href='/'>
      <img
        src='/assets/images/logo_cropped_transparent.svg'
        alt='JobsTrackr logo'
      />
    </a>
    <nav>
      <ul>
        <li class='log-in'>
          <a href='https://app.jobstrackr.app/dashboard'>Log in</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<style lang='scss'>
  header {
    width: 100%;
    border-bottom: 1px solid var(--border-light);
  }

  .container {
    margin: auto;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
      max-width: 125px;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 10px;

      li a {
        text-decoration: none;
        font-weight: 500;
        border-radius: 5px;
        padding: 8px 12px;
      }

      .log-in a {
        color: black;
        background-color: var(--primary);
        transition: all 0.2s;
        &:hover {
          background-color: #dfdbd3;
        }
      }

      .sign-up a {
        color: white;
        background-color: var(--secondary);
        &:hover {
          background-color: #1c1d20;
        }
      }
    }
  }

  @media (min-width: 600px) {
    .container {
      max-width: 75rem;
      padding: 15px 20px;

      img {
        max-width: 165px;
      }

      ul {
        gap: 20px;

        li a {
          padding: 9px 15px;
        }
      }
    }
  }
</style>
