---
---

<section class='py-10 lg:py-36'>
  <div class='flex flex-col gap-32 lg:flex-row'>
    <div class='max-w-auto'>
      <h1
        class='mb-6 font-satoshi text-4xl font-black tracking-tight text-gray-900'
      >
        Streamline your job search.
      </h1>
      <p class='text-lg text-gray-600'>
        Say goodbye to the chaos of managing multiple job applications and
        embrace a seamless and user-friendly experience. With JobsTrackr, you
        can effortlessly manage and keep track of your active applications in
        one convenient dashboard.
      </p>

      <div class='mt-10 flex gap-4'>
        <a href='https://portal.jobstrackr.app' class='btn-primary transition'
          >Log in</a
        >
        <a href='https://portal.jobstrackr.app' class='btn-secondary transition'
          >Get started</a
        >
      </div>
    </div>
    <img
      class='w-[80%] lg:w-[350px]'
      src='/images/logo_cropped_transparent.svg'
      alt='JobsTrackr logo'
    />
    <!-- placeholder img -->
  </div>
</section>
