---
import LinkButton from './LinkButton.astro'
---

<section class="mx-auto px-4 py-10 text-center lg:max-w-7xl lg:py-48">
	<h1 class="mb-8 text-6xl font-black tracking-tight text-stone-900">Streamline your job search</h1>
	<p class="mx-auto mb-10 max-w-2xl text-lg font-medium text-stone-500">
		Say goodbye to the chaos of managing multiple job applications and embrace a seamless and user-friendly experience. With
		JobsTrackr, you can effortlessly manage and keep track of your job search in one convenient dashboard.
	</p>
	<div class="flex justify-center gap-6">
		<LinkButton href="https://portal.jobstrackr.app/sign-up" label="Get started" type="secondary" />
		<div
			class="absolute left-1/2 top-20 z-[-1] hidden h-[1026px] w-[1026px] overflow-hidden opacity-75 [mask-image:linear-gradient(to_bottom,white_20%,transparent_75%)] sm:top-16 sm:-translate-x-1/2 lg:top-[5%] lg:ml-[0%] lg:block"
		>
			<svg viewBox="0 0 1026 1026" fill="none" aria-hidden="true" class="absolute inset-0 h-full w-full animate-spin-slow"
				><path
					d="M1025 513c0 282.77-229.23 512-512 512S1 795.77 1 513 230.23 1 513 1s512 229.23 512 512Z"
					stroke="#dadada"
					stroke-opacity="0.7"></path><path
					d="M513 1025C230.23 1025 1 795.77 1 513"
					stroke="url(#:R65m:-gradient-1)"
					stroke-linecap="round"></path><defs
					><linearGradient id=":R65m:-gradient-1" x1="1" y1="513" x2="1" y2="1025" gradientUnits="userSpaceOnUse"
						><stop stop-color="#22c55e"></stop><stop offset="1" stop-color="#22c55e" stop-opacity="0"></stop></linearGradient
					></defs
				></svg
			>
			<svg
				viewBox="0 0 1026 1026"
				fill="none"
				aria-hidden="true"
				class="absolute inset-0 h-full w-full animate-spin-slow-reverse"
				><path
					d="M913 513c0 220.914-179.086 400-400 400S113 733.914 113 513s179.086-400 400-400 400 179.086 400 400Z"
					stroke="#dadada"
					stroke-opacity="0.7"></path><path
					d="M913 513c0 220.914-179.086 400-400 400"
					stroke="url(#:R65m:-gradient-2)"
					stroke-linecap="round"></path><defs
					><linearGradient id=":R65m:-gradient-2" x1="913" y1="513" x2="913" y2="913" gradientUnits="userSpaceOnUse"
						><stop stop-color="#22c55e"></stop><stop offset="1" stop-color="#22c55e" stop-opacity="0"></stop></linearGradient
					></defs
				>
			</svg>
		</div>
	</div>
</section>
